body{
    background-color: cornsilk;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#digitalWatch{
    color: rgb(126, 3, 3);
}

#watch{
    font-size: 44px;
    font-weight: 600;
    padding: 20px;
    margin-top: 50px;
    background-color: rgb(241, 77, 27);
    border-radius: 14px;
}